/* ==========================================================================
   Main sass file
   ========================================================================== */
$trolley-grey: #7f7f7f
$aztec-gold: #cc9f4a
$outerspace: #4a4a4a
$gainsboro: #dfdfdf
$whitesmoke: #f6f6f6
$white: #ffffff


.navbar
  margin-top: 45px

.navbar-light .navbar-toggler
  color: $trolley-grey
.navbar-toggler
  border: none
button:focus
  outline: 0

.logo
  font-size: 2em
.vertbar
  color: $gainsboro
  font-size: 2em
.job
  font-size: 0.95em


  /* ==========================================================================
     mixins
     ========================================================================== */
// @font-face
//   font-family: 'Lanenar', sans-serif
//   src: url("fonts/Lanenar.ttf") format("truetype")
//  $font-submain: 'Lanenar', sans-serif
